<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <%- include("partials/header") %>
    <main id="main">
        <section id="editIdSection">
            <div>
                <label for="editId">Edit ID: </label>
                <input type="text" name="editId" id="editId" placeholder="CoolID">
            </div>
            <button type="button" id="editIdLoader" onclick="loadEditId()">Edit</button>
        </section>
        <form action="/makeGuide" enctype="multipart/form-data" id="guideForm" method="post">
            <input type="text" name="title" id="title" placeholder="Title">
            <% if (tags && tags.length > 0) { %>
                <label for="tags">Choose your tags:</label>
                <select name="tags" id="tags" multiple>
                    <% tags.forEach(tag => { %>
                        <option value="<%= tag._id %>"><%= tag.name %></option>
                    <% }); %>
                </select>
            <% } else { %>
                <p>No tags available.</p>
            <% } %>
        </form>
    </main>
    <footer>
        <button type="button" onclick="addSection()">Add section</button>
        <button type="button" onclick="finished()">Finish!</button>
    </footer>
    <script src="/js/dynamicCreationDashboard.js"></script>
    <script>
        function handleFileChange(elem) {
            if (elem.files.length > 0) {
                // File has been selected
                elem.parentElement.style.borderStyle = "solid";
                elem.parentElement.style.width = "90%";
                elem.parentElement.style.alignSelf = "center";
                elem.previousElementSibling.textContent = elem.files[0].name + " selected.";
                elem.nextElementSibling.value = "/uploads/" + elem.files[0].name;
            }
        }

        function finished() {
            document.getElementById("guideForm").submit();
        }

        $(document).ready(function() {
            $('#tags').select2({
                placeholder: "Select tags",
                allowClear: true,
                tags: true, // Allow users to add new tags
                maximumSelectionLength: 5 // Limit to 5 selections
            });
        });
    </script>
    <script id="deleteMyself">
        addSection();
        document.getElementById("deleteMyself").remove();
    </script>
    <script src="/js/editGuide.js"></script>
    <script src="/js/autoedit.js"></script>
</body>
</html>