<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="styles/home.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <script>
            addUnderline();
        </script>
        <main>
            <h1>Brukerguider for alle slags ting</h1>
            <section id="searchBar"><input type="text" name="search" id="searchInput" placeholder="Søk..."><img src="assets/searchIcon.png"></section>
            <section id="guideList">
                <% if (guides && guides.length > 0) { %>
                    <% for (let i = 0; i < guides.length; i++) {
                        const element = guides[i]; %>
                        <article class="guideDisplay" onclick="openGuide('<%- element.id %>')">
                            <h2><%- element.name %></h2>
                        </article>
                    <% } %>
                <% } else { %>
                    <article class="guideDisplay" onclick="openGuide('default')">
                        <h2>Example Article</h2>
                    </article>
                <% } %>                
            </section>
        </main>
        <script>
            function openGuide(guideName) {
                if (guideName == 'default') {
                    window.location.href = "/guide";
                } else {
                    window.location.href = "/guide/" + guideName;
                }
            }
        </script>

    </body>
</html>