<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="styles/home.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <script>
            addUnderline();
        </script>
        <main>
            <h1>Brukerguider for alle slags ting</h1>
            <section id="searchBar"><input type="text" name="search" id="searchInput" placeholder="Search..."><img src="assets/searchIcon.png"></section>
            <section id="guideList">
                <article class="guideDisplay" onclick="openGuide('exampleGuide')">
                    <h2>Example guide</h2>
                </article>
                <article class="guideDisplay" onclick="openGuide('exampleGuide')">
                    <h2>Example guide</h2>
                </article>
                <article class="guideDisplay" onclick="openGuide('exampleGuide')">
                    <h2>Example guide</h2>
                </article>
                <article class="guideDisplay" onclick="openGuide('exampleGuide')">
                    <h2>Example guide</h2>
                </article>
                <article class="guideDisplay" onclick="openGuide('exampleGuide')">
                    <h2>Example guide</h2>
                </article>
            </section>
        </main>
    </body>
</html>