<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login page</title>
        <link rel="stylesheet" href="styles/login.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <main>
            <h1>Logg Inn</h1>
            <input type="text" name="username" id="usernameInput" placeholder="Brukernavn" maxlength="16" minlength="3" required>
            <input type="password" name="password" id="password" placeholder="Passord" minlength="4" maxlength="30" required>
            <button id="submitBtn">Logg inn</button>
            <a href="/signup">Eller registrer en ny bruker...</a>
        </main>
        <button class="google-button" onclick="window.location.href='/auth/google'">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png" alt="Google Logo">
            Login with Google
        </button>
        <p id="errorMsg"></p>
        <script src="js/loginScript.js"></script>
    </body>
</html>