.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
}

.textArea1 { grid-area: 1 / 1 / 2 / 2; }
.imageArea1 { grid-area: 1 / 2 / 2 / 4; }
.textArea2 { grid-area: 1 / 1 / 2 / 3; }
.imgArea2 { grid-area: 1 / 3 / 2 / 4; }