*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: lime;
    font-family: monospace;
    font-size: 16px;
}

::selection{
    color: white;
    background-color: darkorange;
}

#navbar{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    height: 100px;
    flex-grow: 0;
}

#navLogoDiv{
    display: block;
    width: 25%;
    height: 100%;
    aspect-ratio: 1/1;
}

#navLogo{
    max-height: 100%;
}

#homeLink{
    display: block;
    width: 25%;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}

#homeLink:hover{
    color: aquamarine;
    text-decoration: underline;
}

#buttonsDiv{
    flex-grow: 0;
    height: 100%;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#loginBtn, #logoutBtn{
    height: 40%;
    width: 50%;
    padding: 0 20px 0 20px;
    background-color: #FFFFFF19;
    color: aliceblue;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

#loginBtn:hover, #logoutBtn:hover{
    background-color: #FFFFFF44;
    color: aquamarine;
}